<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/home.css">
    <title> Home </title>
</head>
<body>
    <%- include('layout/navbar') %>

    <section>
        <div class="left"> </div>
        <div class="right">
            <h1> <i> Make Your Flight </i> </h1>
            <p>
                We are thrilled to have you join us on this exciting journey 
                through a world of diverse topics and engaging content. 
                Whether you're here for insightful articles, thought-provoking 
                discussions, or simply looking to explore new perspectives, our 
                blog is your gateway to knowledge and inspiration. Our dedicated 
                team of writers and experts is committed to bringing you the 
                latest trends, in-depth analyses, and captivating stories that 
                will inform, entertain, and spark your curiosity. So, make 
                yourself at home, browse through our posts, and let us be your 
                trusted source for all things interesting and informative. 
            </p>
            <div class="media">
                <a target="_blank" href="https://web.facebook.com/youness.rca.3"> <i class='bx bxl-facebook-circle'></i> </a>
                <a target="_blank" href="https://www.instagram.com/younesszgr/"> <i class='bx bxl-instagram-alt' ></i> </a>
                <a target="_blank" href="#"> <i class='bx bxl-twitter' ></i> </a>
                <a target="_blank" href="https://www.linkedin.com/in/zagouri-youness-582400233/"> <i class='bx bxl-linkedin'></i> </a>
            </div>
        </div>
    </section>

</body>
</html>