* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 55px auto;
    width: 35%;
    padding:80px;
    border-radius: 20px;
    background:rgba(0, 0, 0, 0.6);
}

body {
    background-image: url('/images/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
